@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10rem;
  margin-right: 10rem;
  color: white;
  font-weight: 300;
  line-height: 140%;
}

.header {
  padding-top: 30px;
  padding-bottom: 70px;
}

h1 {
  line-height: 80%;
}
.bold {
  font-weight: 600;
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
  margin-right: 10rem;
}

.right {
  text-align: right;
  margin-left: 10rem;
}

.whiteText {
  color: white;
}

.purpleText {
  color: #c1168d;
}

.limeText {
  color: #00ffff;
}

.greenButton {
  padding: 15px 50px 15px 50px;
  border-radius: 0%;
  font-size: 20px;
  font-weight: 700;
  background-color: #00ffff;
  border-style: none;
  box-shadow: 0px 0px 19px #00ffff;
}

.imgLogo {
  height: 4rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.xxl {
  font-size: 60px;
}

.small {
  font-size: 16px;
}

.small2 {
  font-size: 20px;
.xl {
  font-size: 23px;
}

.extraSmall {
  font-size: 14px;
}

.outfit {
  font-family: "Outfit", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.undertitle {
  font-size: 35px;
  line-height: 3rem;
}

.sectionElement {
  display: inline-block;
}

.questionsize {
  font-size: 30px;
  font-weight: 300;
  line-height: 2rem;
}

.description {
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

.rateUsButton {
  background: linear-gradient(to right, #281059, #431866);
  width: 16rem;
  height: 4rem;
  border: 1px solid #ffffff;
  font-size: 25px;
  box-shadow: 20px 20px 20px #40246f61, -20px -20px 20px #40246f61, 20px -20px 20px #40246f61, -20px 20px 20px #40246f61;
}

.sectionSpace {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.enclosure {
  max-width: 280px;
.paddingTitle {
  padding: 0px 0px 30px 0px;
}

.paddingText {
  padding: 0px 0px 20px 0px;
}

footer {
  display: inline-block;
  margin-top: 60px;
}

.space {
  margin-left: 200px;
}
